@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif
}

html {
    height: 0.1vh;
    background: linear-gradient(135deg, #032850 10%, #0E5CAD, #8500d8, #d800b7 100%);
    background-size: 400% 100%;
    animation: gradient 40s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    padding: 2em 5em;
    max-width: 40em;
    margin: 0 auto;
    color: #555;
    background: rgba(255, 255, 255, 0.9);
    font-size: 1.2rem;
    line-height: 2;
}

h1 {
    opacity: 0.4;
    color: #0E5CAD;
}

strong {
    font-weight: 900;
    color: #000
}

ul {
    margin-block-start: 0;
    padding: 1.25rem;
}


ul li {
    margin-bottom: 0.5em;
}

p {
    margin-top: 0;
}


blockquote {
    background: #f9f9f9;
    margin: 0;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: rgba(0, 0, 0, 0.1);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.nav {
    margin-top: 3em;
    text-align: right;

}

.nav a {
    color: #aaa;
}

a:hover {
    color: #0E5CAD;
}

img {
    max-width: 100%;
    border: dotted 2px #aaa;
}

.icon-tabler {
    color: #0E5CAD;
    width: 80px;
    height: 80px;
}

.flex {
    display: flex
}

.flex section {
    margin-right: 1em;
}



.sm {
    font-size: 0.8em;
}

.md {
    font-size: 1.2em;
}

.lg {
    font-size: 1.4em;
}

